<% @acc = @resource.accounts.first %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
<script>
  var clipboard = new Clipboard('.copy_btn');

  clipboard.on('success', function(e) {
    e.trigger.innerHTML = '¡COPIADO!';
    setTimeout(function() {
      e.trigger.innerHTML = 'copiar';
    }, 1000);
  });
</script>

<div class="container">

  <div class="text-center">
    <h1><%= @resource.name %></h1>
    <p>Mis datos bancarios son:</p>
  </div>

  <div class="col-md-4 col-md-offset-4">
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge" style="background-color:#7799ff">
          <a href="#" name="Rut" class="copy_btn" style="color:white" data-clipboard-text="<%= @resource.dni %>">copiar</a>
        </span>
        Rut: <b><%= @resource.dni %></b>
      </li>

      <li class="list-group-item">
        <span class="badge" style="background-color:#7799ff">
          <a href="#" name="Nombre del Banco"  class="copy_btn" style="color:white" data-clipboard-text="<%= @acc.bank.name %>">copiar</a>
        </span>
        Banco: <b><%= @acc.bank.name %></b>
      </li>

      <li class="list-group-item">
        <span class="badge" style="background-color:#7799ff">
          <a href="#" name="Tipo de Cuenta"  class="copy_btn" style="color:white" data-clipboard-text="<%= @acc.account_type.name %>">copiar</a>
        </span>
        Tipo: <b><%= @acc.account_type.name %></b>
      </li>

      <li class="list-group-item">
        <span class="badge" style="background-color:#7799ff">
          <a href="#" name="Número de Cuenta"  class="copy_btn" style="color:white" data-clipboard-text="<%= @acc.number %>">copiar</a>
        </span>
        Número: <b><%= @acc.number %></b>
      </li>

      <li class="list-group-item">
        <span class="badge" style="background-color:#7799ff">
          <a href="#" name="Email"  class="copy_btn" style="color:white" data-clipboard-text="<%= @resource.email %>">copiar</a>
        </span>
        Email: <b><%= @resource.email %></b>
      </li>
    </ul>

    <div class="text-center">
      <h4>¿Acabas de conocer num.cl?</h4>
      <p>¡Te invitamos a <b><%= link_to root_path do %>registrar<% end %></b> también tus datos!</p>
      <h4>¿Tus datos están incorrectos?</h4>
      <p>Simplemente <b><%= link_to root_path do %>vuelve a registrarte<% end %></b> con tu mismo email :)</p>
    </div>
  </div>
</div>

<% content_for :og_tags do %>
  <meta property="og:title" content="<%= @resource.name %>" />
  <meta property="og:description"
    content="<> <%= @resource.dni %> <> <%= acc.bank.name %> <> <%= acc.account_type.name %> <> <%= acc.number %> <>" />
  <meta property="og:url" content="<%= request.url %>" />
  <meta property="og:image" itemprop="image" content="<%= "#{request.protocol}#{request.host_with_port}/logo.png" %>" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="es_LA" />
<% end %>
